body {
  color: white;
  font-family: 'Arial';
}
.section1 {
  background-color: #262c3f;
  height: 80vh;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header div {
  margin: 2em 8% 0 8%;
}
.left {
  margin-left: 10vw;
  margin-top: 10%;
}
.title-text {
  width: 360px;
}
.title-text p {
  font-size: 1.2em;
  text-align: justify;
}
.title {
  font-size: 4em;
  margin-bottom: 0;
}
.btn-header {
  margin-top: 10%;
  border: 1px solid white;
  background-color: white;
  width: 150px;
  border-radius: 5px;
}
.btn-header a {
  font-weight: bold;
  font-size: 1.2em;
  padding: 18px 1.2em;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.right {
  z-index: 100;
  margin-left: 20vw;
  width: 30vw

}
.adjs {
  display: flex;
}
.img-1 {
  position: relative;
  left: -8em;
}
.img-2 {
  width: 25vh;
  position: relative;
  left: 8em;
}
.img-3 {
  width: 20vh;
  position: relative;
  top: -4em;
  left: -8em;
}
.section2 {
  height: 60vh;
  padding: 2em;
  display: flex;
  flex-direction: row;
}
.singleElement {
  color: black;
  margin: 1em 2em;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.singleElement img {
  width: 50%;
}
